body {
    max-width: 1920px !important;
    display: block;
    margin: auto;
    padding-top:0px !important
}

.navbar {
    visibility: hidden
}

.footer-div {
    display: block;
    width: 100%;
}

.footer {
    font-size: 12px;
    text-align: right;
    display: block;
    padding-right: 12px;
}
